.footerVanilla {
    width: 100%;
    background-color: #313133;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 10px 15px;
    margin-top: auto;
}

.contact {
    font-size: 18px;
    font-weight: bold;
    color: #5885d5;
}

.copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #5885d5;
}