main {
    padding: 30px 30px 0 30px;

        section {

                p {
                    @include fontfamily;
                    font-size:map-get($tFuentes, mediana);
                    font-weight: 700;
                    text-align: center;
                    margin-left: 3%;
                    margin-right: 3%;
                }
        }
}
    
.hero {
    width: 70%;
    margin-left: 15%;
}
