@media (max-width: 767px) {
    .centerbtn {
      display: flex;
      justify-content: center;
    }
    .icons {
      text-align: center;
    }
  }

  @media (max-width: 1022px) {
    .description {
      margin-top: 20px;
    }
  }
  
  @media (min-width: 1023px) {
    .description {
      position: relative;

      p {
            position: absolute;
            top: -48px;
        }
    }
  }
  
  @media (max-width: 1075px) {
    .footerVanilla {
      flex-direction: column;
      padding: 15px;
      text-align: center;
      gap: 5px;
     }
    }